{% extends '::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="http://maps.googleapis.com/maps/api/js?sensor=true&language=en&libraries=places"></script>
	<script type="text/javascript" src="{{ asset('js/point.js') }}"></script>
	<script type="text/javascript">
		$(function(){
			$("li#tab-3").addClass('active');
		});
	</script>
{% endblock javascripts %}

{% block container %}
<form action="{{ path('_point') }}" method="post" >
	
	<div class="row">
		<label for="placeName" class="slot-0">Place name:</label>
		<input type="text" class="slot-0" name="placeName" id="placeName" />
	</div>
	
	<div class="row">
		<label for="contactEmail" class="slot-0">Contact Email:</label>
		<input type="text" class="slot-0" name="contactEmail" id="contactEmail" />
	</div>
	
	<div class="row">
		<label for="contactPhone" class="slot-0">Contact Phone:</label>
		<input type="text" class="slot-0" name="contactPhone" id="contactPhone" />
	</div>
	
	<div class="row">
		<label for="address" class="slot-0">Address:</label>
		<input type="text" class="slot-0" name="address" id="address" />
	</div>
	
	<div class="row">
		<label for="website" class="slot-0">Website:</label>
		<input type="text" class="slot-0" name="website" id="website" />
	</div>
	
	<div class="row">
		<label for="countryGeonameId" class="slot-0">Country:</label>
		<input type="text" class="slot-0" name="countryGeonameId" id="countryGeonameId" />
	</div>
	
	<div class="row">
		<label for="stateGeonameId" class="slot-0">State:</label>
		<input type="text" class="slot-0" name="stateGeonameId" id="stateGeonameId" />
	</div>
	
	<div class="row">
		<label for="cityGeonameId" class="slot-0">City:</label>
		<input type="text" class="slot-0" name="cityGeonameId" id="cityGeonameId" />
	</div>

	<div class="row">
		<label for="materialType" class="slot-0">Material Type:</label>
		{% for mt in materialType %}
			<div class="row">
				<label for="{{ mt.name }}" class="slot-1">{{ mt.name }}</label>
				<input type="checkbox" name="materialType[]" id="{{ mt.name }}" value="{{ mt.id }}"/>			
			</div>
		{% endfor %}
	</div>
	
	<div class="row slot-6-7" id="map">
	
	</div>
	
	
	<input type="hidden" name="lat" id="lat" />
	
	<input type="hidden" name="lng" id="lng" />
	
	<input type="submit" />
	
</form>	
{% endblock container %}